<!-- <h1> {{title}} </h1>

<div [class]="className">

</div>
<br>
<button (click)="changeColor('bgRed')">ChangeToRed</button>
<button (click)="changeColor('bgBlue')">ChangeToBlue</button>

<br>
<br>

<input type="text" class="form-control" [(ngModel)]="name">
<h1> Hello {{name}}</h1>

<div *ngIf="className === 'bgRed'">
  <h1> The class now is Red</h1>
</div>

<div *ngIf="className === 'bgBlue'">
  <h1> The class now is Blue</h1>
</div>

<br>
<hr>
<app-tab></app-tab> -->

<div class="container">
  <table class="table table-hover">
    <tr *ngFor="let x of cricketers">
        <td>{{x.name}}</td>
        <td>{{x.number}}</td>
    </tr>
  </table>
</div>






